.timerContainer {
  color: white;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.timerContainer h1 {
  font-size: 1.2rem; 
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 2rem;
}

.timeBoxes {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.timeBox {
  background-color: #1c1c34;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Middle divider effect for card */
.timeBox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-50%);
}

.value {
  color: #f25f9b;
  font-size: 4.5rem;
  font-weight: bold;
  z-index: 1;
}

.label {
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 2rem;
   letter-spacing: 5px;
  display: block;
  color: #ccc;
  text-align: center;
}

.socials {
  margin-top: 10rem;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.socials svg {
  fill: #d3cbd4; 
  opacity: 0.85;
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mountains {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.mountainSvg {
  display: block;
  width: 100%;
  height: auto;
}

.starrySky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.6;
  animation: twinkle 3s infinite ease-in-out;
}
